:root {
  --color-main-000: #fff;
  --color-main-005: #f2f2f2;
  --color-main-010: #e5e5e5;
  --color-main-020: #ccc;
  --color-main-040: #999;
  --color-main-060: #666;
  --color-main-080: #333;
  --color-main: #000;
  --color-emphasis: #ec0909;
  --color-emphasis-background: #ffd8d6;
  --color-notification: #ff930b;
  --color-notification-background: #fff4e7;
  --color-done: #4cd964;
  --color-sales: #ffe800;
  --color-recommendation: #d4e5f7;
}
:root {
  --color-high-priority-general: #f7f7f7;
  --color-high-priority-informative: #f3f7fc;
  --color-low-priority-informative: #538dce;
  --color-high-priority-warning: #fff4e7;
  --color-low-priority-warning: #ff930b;
  --color-high-priority-error: #fde7e7;
  --color-low-priority-error: #ec0909;
}