@import '../ulti/breakpoints.scss';

:root {
	--font-family-main: 'Neue-Helvetica', 'Helvetica', 'Arial', Sans-Serif;
	--font-stretch-normal: normal;
	--font-stretch-condensed: condensed;
}

:root {
	--font-size-xxxl: 40px;
	--font-size-xxl: 32px;
	--font-size-xl: 22px;
	--font-size-l: 18px;
	--font-size-m: 16px;
	--font-size-s: 14px;
	--font-size-xs: 12px;
	--font-size-xxs: 11px;
	--font-size-xxxs: 9px;
	--font-weight-bold: bold;
	--font-weight-condensed: 500;
	--font-weight-regular: normal;
	--font-weight-light: light;
}

:root {
	--font-size-heading-l: 22px;
	--line-height-heading-l: 28px;
	--letter-spacing-heading-l: 0.2px;
	--font-size-heading-m: 18px;
	--line-height-heading-m: 24px;
	--letter-spacing-heading-m: 0.2px;
	--font-size-heading-s: 16px;
	--line-height-heading-s: 20px;
	--letter-spacing-heading-s: 0.4px;
	--font-size-heading-xs: 14px;
	--line-height-heading-xs: 16px;
	--letter-spacing-heading-xs: 0.4px;
	--font-size-body-l: 13px;
	--line-height-body-l: 16px;
	--letter-spacing-body-l: 0.4px;
	--font-size-body-m: 13px;
	--line-height-body-m: 16px;
	--letter-spacing-body-m: 0.4px;
	--font-size-body-s: 12px;
	--line-height-body-s: 16px;
	--letter-spacing-body-s: 0.2px;
	--font-size-label-l: 16px;
	--line-height-label-l: 20px;
	--letter-spacing-label-l: 0.4px;
	--font-size-label-m: 14px;
	--line-height-label-m: 16px;
	--letter-spacing-label-m: 0.4px;
	--font-size-label-s: 11px;
	--line-height-label-s: 16px;
	--letter-spacing-label-s: 0.4px;
	--font-size-caption-l: 14px;
	--line-height-caption-l: 16px;
	--letter-spacing-caption-l: 0.4px;
	--font-size-caption-m: 13px;
	--line-height-caption-m: 16px;
	--letter-spacing-caption-m: 0.4px;
	--font-size-caption-s: 11px;
	--line-height-caption-s: 16px;
	--letter-spacing-caption-s: 0.4px;
	--font-size-primary-03: 18px;
	--line-height-primary-03: 24px;
	--letter-spacing-primary-03: 0.2px;
	--font-size-primary-02: 16px;
	--line-height-primary-02: 20px;
	--letter-spacing-primary-02: 0.4px;
	--font-size-primary-01: 13px;
	--line-height-primary-01: 16px;
	--letter-spacing-primary-01: 0.4px;
	--font-size-secondary-01: 11px;
	--line-height-secondary-01: 16px;
	--letter-spacing-secondary-01: 0.4px;
	--font-size-checkout-heading-l: 28px;
	--line-height-checkout-heading-l: 32px;
	--letter-spacing-checkout-heading-l: 0.2px;
	--font-size-checkout-heading-xs: 14px;
	--line-height-checkout-heading-xs: 18px;
	--letter-spacing-checkout-heading-xs: 0.2px;
	--font-size-checkout-label-m: 13px;
	--line-height-checkout-label-m: 16px;
	--letter-spacing-checkout-label-m: 0.4px;
	--font-size-checkout-label-s: 10px;
	--line-height-checkout-label-s: 12px;
	--letter-spacing-checkout-label-s: 0.2px;

	@include breakpoint-up(medium){
		--font-size-heading-s: 14px;
		--line-height-heading-s: 16px;
		--letter-spacing-heading-s: 0.4px;
		--font-size-heading-xs: 11px;
		--line-height-heading-xs: 16px;
		--letter-spacing-heading-xs: 0.4px;
		--font-size-body-l: 9px;
		--line-height-body-l: 12px;
		--letter-spacing-body-l: 0.4px;
		--font-size-body-m: 9px;
		--line-height-body-m: 12px;
		--letter-spacing-body-m: 0.4px;
		--font-size-body-s: 9px;
		--line-height-body-s: 12px;
		--letter-spacing-body-s: 0.2px;
		--font-size-label-l: 11px;
		--line-height-label-l: 16px;
		--letter-spacing-label-l: 0.4px;
		--font-size-label-m: 9px;
		--line-height-label-m: 12px;
		--letter-spacing-label-m: 0.4px;
		--font-size-label-s: 9px;
		--line-height-label-s: 12px;
		--letter-spacing-label-s: 0.4px;
		--font-size-caption-l: 9px;
		--line-height-caption-l: 12px;
		--letter-spacing-caption-l: 0.4px;
		--font-size-caption-m: 9px;
		--line-height-caption-m: 12px;
		--letter-spacing-caption-m: 0.4px;
		--font-size-caption-s: 9px;
		--line-height-caption-s: 12px;
		--letter-spacing-caption-s: 0.4px;
		--font-size-primary-03: 22px;
		--line-height-primary-03: 28px;
		--letter-spacing-primary-03: 0.2px;
		--font-size-primary-02: 18px;
		--line-height-primary-02: 24px;
		--letter-spacing-primary-02: 0.2px;
		--font-size-primary-01: 11px;
		--line-height-primary-01: 16px;
		--letter-spacing-primary-01: 0.4px;
		--font-size-secondary-01: 9px;
		--line-height-secondary-01: 12px;
		--letter-spacing-secondary-01: 0.4px;
		--font-size-checkout-heading-l: 40px;
		--line-height-checkout-heading-l: 44px;
		--font-size-checkout-heading-xs: 11px;
		--line-height-checkout-heading-xs: 14px;
		--font-size-checkout-label-m: 14px;
		--line-height-checkout-label-m: 18px;
		--font-size-checkout-label-s: 9px;
		--line-height-checkout-label-s: 11px;
	}

	@include breakpoint-up (xlarge){
		--font-size-heading-l: 28px;
		--line-height-heading-l: 36px;
		--font-size-heading-m: 22px;
		--line-height-heading-m: 28px;
		--font-size-heading-s: 18px;
		--line-height-heading-s: 24px;
		--letter-spacing-heading-s: 0.2px;
		--font-size-heading-xs: 14px;
		--line-height-heading-xs: 16px;
		--letter-spacing-heading-xs: 0.4px;
		--font-size-body-l: 13px;
		--line-height-body-l: 16px;
		--letter-spacing-body-l: 0.2px;
		--font-size-body-m: 13px;
		--line-height-body-m: 16px;
		--letter-spacing-body-m: 0.4px;
		--font-size-body-s: 11px;
		--line-height-body-s: 16px;
		--letter-spacing-body-s: 0.4px;
		--font-size-label-l: 14px;
		--line-height-label-l: 16px;
		--letter-spacing-label-l: 0.4px;
		--font-size-label-m: 13px;
		--line-height-label-m: 16px;
		--letter-spacing-label-m: 0.4px;
		--font-size-label-s: 11px;
		--line-height-label-s: 16px;
		--letter-spacing-label-s: 0.4px;
		--font-size-caption-l: 14px;
		--line-height-caption-l: 16px;
		--letter-spacing-caption-l: 0.4px;
		--font-size-caption-m: 13px;
		--line-height-caption-m: 16px;
		--letter-spacing-caption-m: 0.4px;
		--font-size-caption-s: 11px;
		--line-height-caption-s: 16px;
		--letter-spacing-caption-s: 0.4px;
		--font-size-primary-03: 28px;
		--line-height-primary-03: 36px;
		--letter-spacing-primary-03: 0.2px;
		--font-size-primary-02: 22px;
		--line-height-primary-02: 28px;
		--letter-spacing-primary-02: 0.2px;
		--font-size-primary-01: 13px;
		--line-height-primary-01: 16px;
		--letter-spacing-primary-01: 0.4px;
		--font-size-secondary-01: 11px;
		--line-height-secondary-01: 16px;
		--letter-spacing-secondary-01: 0.4px;
		--font-size-checkout-heading-xs: 14px;
		--line-height-checkout-heading-xs: 18px;
		--font-size-checkout-label-m: 16px;
		--line-height-checkout-label-m: 20px;
		--letter-spacing-checkout-label-m: 0.2px;
		--font-size-checkout-label-s: 11px;
		--line-height-checkout-label-s: 14px;		
	}

	@include breakpoint-up (xxlarge){
		--font-size-heading-l: 40px;
		--line-height-heading-l: 48px;
		--letter-spacing-heading-l: 0.2px;
		--font-size-heading-m: 28px;
		--line-height-heading-m: 36px;
		--letter-spacing-heading-m: 0.2px;
		--font-size-heading-s: 22px;
		--line-height-heading-s: 28px;
		--letter-spacing-heading-s: 0.2px;
		--font-size-heading-xs: 18px;
		--line-height-heading-xs: 24px;
		--letter-spacing-heading-xs: 0.2px;
		--font-size-body-l: 16px;
		--line-height-body-l: 20px;
		--letter-spacing-body-l: 0.4px;
		--font-size-body-m: 16px;
		--line-height-body-m: 20px;
		--letter-spacing-body-m: 0.4px;
		--font-size-body-s: 13px;
		--line-height-body-s: 16px;
		--letter-spacing-body-s: 0.4px;
		--font-size-label-l: 16px;
		--line-height-label-l: 24px;
		--letter-spacing-label-l: 0.4px;
		--font-size-label-m: 16px;
		--line-height-label-m: 20px;
		--letter-spacing-label-m: 0.4px;
		--font-size-label-s: 13px;
		--line-height-label-s: 16px;
		--letter-spacing-label-s: 0.4px;
		--font-size-caption-l: 16px;
		--line-height-caption-l: 20px;
		--letter-spacing-caption-l: 0.4px;
		--font-size-caption-m: 14px;
		--line-height-caption-m: 16px;
		--letter-spacing-caption-m: 0.4px;
		--font-size-caption-s: 13px;
		--line-height-caption-s: 16px;
		--letter-spacing-caption-s: 0.4px;
		--font-size-primary-03: 40px;
		--line-height-primary-03: 48px;
		--letter-spacing-primary-03: 0.2px;
		--font-size-primary-02: 28px;
		--line-height-primary-02: 36px;
		--letter-spacing-primary-02: 0.2px;
		--font-size-primary-01: 16px;
		--line-height-primary-01: 20px;
		--letter-spacing-primary-01: 0.4px;
		--font-size-secondary-01: 13px;
		--line-height-secondary-01: 16px;
		--letter-spacing-secondary-01: 0.2px;
		--font-size-checkout-heading-l: 56px;
		--font-size-checkout-heading-xs: 16px;
		--line-height-checkout-heading-xs: 20px;
		--font-size-checkout-label-m: 18px;
		--line-height-checkout-label-m: 20px;
		--letter-spacing-checkout-label-m: 0.2px;
		--font-size-checkout-label-s: 13px;
		--line-height-checkout-label-s: 16px;
	}
}

